* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
}

.nav-items {
  list-style: none;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 30.01px 22px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.airbnb-logo {
  height: 25.35px;
  max-width: 82px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
  margin-top: 26px;
}

.hero--header {
  margin-bottom: 16px;
  margin-left: 36px;
}

.hero--text {
  margin-top: 0%;
  margin-left: 36px;
  max-width: 320px;
}

.card {
  width: 176px;
  margin-left: 37px;
  margin-top: 49px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  width: 14px;
  margin-top: 9px;
}
