body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: white;
}

.header--background {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
}

.header--logo {
  height: 24px;
  width: 24px;
  position: relative;
  left: 213px;
  top: 16px;
}

.header--title {
  color: white;
  letter-spacing: -0.075em;
  margin: 0;
  position: relative;
  left: calc(213px + 7px);
  top: 20px;
}

.tile--location {}

.tile--googleMapsUrl {}

.tile--title {}

.tile--dates {}

.tile--description {}

.tile--imageUrl {
  width: 100%;
  height: 125px;
  object-fit: contain;
  left: 39px;
}