body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: white;
}

.header--background {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
}

.header--logo {
  height: 24px;
  width: 24px;
  position: relative;
  left: 213px;
  top: 16px;
}

.header--title {
  color: white;
  letter-spacing: -0.075em;
  margin: 0;
  position: relative;
  left: calc(213px + 7px);
  top: 20px;
}

.header--spaceTile {
  height: calc(45px - 36px);
}

.tile--nav {
  display: flex;
  align-items: center;
}

.tile--items {
  list-style: none;
}
.tile--location {}

.tile--googleMapsUrl {}

.tile--title {}

.tile--dates {}

.tile--description {
  width: 326px;
}

.tile--card {
  width: 125px;
  height: 168px;
  position: relative;
  left: 40px;
  top: 36px;
}
.tile--imageUrl {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}